!!! 5
html
  head
    title 今天看什么？
    link(type='text/css', rel='stylesheet', hef='hello.css')
    style(type='text/css')
      .main { width: 936px; margin: 0 auto }
      .main aside { float: left }
      .main article { float: right }
      footer {
        clear: both;
        overflow: hidden;
        padding: 10px 0;
      }
      .col3 { width: 400px }
      .col10 { width: 500px }
      section .hd {
        position: relative;
        border-bottom: 1px solid #DDDDDD;
        color: #333333;
        margin-bottom: 18px;
        padding-bottom: 12px;
      }
      .program-list .item {
        border-bottom: 1px solid #EEEEEE;
        margin-bottom: 1px;
        overflow: hidden;
        padding: 10px 0;
      }
      .program-list .title {
        color: #000000;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 22em;
        word-wrap: break-word;
      }
      .program-list div, p {
        font-size: 12px;
        padding: 2px 0;
      }
      .cover {
          float: left;
          margin-right: 13px;
          width: 90px;
      }

  body
    .main
      aside.col.col3
        section
          .hd
            span This is heading

          .bd
            ul.list-lined.program-list
              {% for pid, p in id_programs.iteritems() %}
              categories = program_categories[pid]
              douban_movie = p.extra.douban_mapped_movie
              pic_url = douban_movie.pic_url
              movie_id = p.extra.douban_movie_id
              li.item
                .cover
                  a(href='http://movie.douban.com/subject/#{ movie_id }/')
                    img(src='#{ pic_url }')
                .info
                  .title
                    a(href='http://movie.douban.com/subject/#{ movie_id }/', target='_blank')
                      {{ p.name }}
                  .date
                    span: {{ p.start_dt.strftime('%Y-%m-%d') }}
                    span: {{ p.start_dt.strftime('%H:%M') }}
                    -
                    span: {{ p.end_dt.strftime('%H:%M') }}
                  .douban-info
                    span: {{ '|'.join(categories) }}
                    span: {{ p.length }}
                    span: {{ p.channel.name }}
                    span: {{ douban_movie.rating }}
                    span: {{ douban_movie.rate_num }}
                  {% if 'top250' in categories: %}
                  top_movie = p.extra.douban_top_movie
                  .top250
                    span: {{ top_movie.rank }}
                    span: {{ top_movie.year}}
                    span: {{ top_movie.region }}
                  p.tip: {{ top_movie.tip }}
                  {% endif %}
              {% endfor %}

      article.co.col10
        {% if id_programs: %}
        current_program = id_programs.values()[0]
        current_movie = current_program.extra.douban_mapped_movie
        current_mid = current_movie.douban_movie_id
        large_pic_url = current_movie.large_pic_url
        .detail
          .cover
            a(href='http://movie.douban.com/subject/#{ current_mid }/')
              img(src='#{ large_pic_url }')

          .info
            span: {{ current_movie.name }}
            span: {{ current_movie.douban_movie_id }}
            span: {{ current_movie.rate_num }}
            span: {{ current_movie.rating }}
            span: {{ current_movie.pic_url }}
        {% endif %}

      footer
        span This is footer mod
